.block {

  &.BlockError {
    margin: 0 $rem32;
    padding: $rem16 $rem5 $rem16 $rem16;
    background-color: $red;
    border-radius: $rem4;
  }

  &.BlockContact {
    background: $med-blue;
    border-radius: $rem4;
    padding: $rem16;
    margin: auto;
    max-width: 530px;

    form {
      max-width: 100%;
      text-align: center;

      .inputs {
        display: flex;
        width: 100%;
        gap: $rem8;

        &>* {
          flex: 1 1 auto;
        }
      }
    }
  }

  &.BlockMessage {
    border: $med-blue 1px solid;
    border-radius: $rem4;
    padding: $rem16;

    .formEditMessage {
      p {
        margin: $rem4 0 $rem4 0;
      }

      label.contentTitle {
        display: block;
        z-index: 5;
        position: static;
        width: fit-content;
        height: fit-content;
        overflow:visible;
        margin-top: $rem12;
      }

      .editContentInput {
        font-weight: $medium;
        border: $med-blue 1px solid;
        border-radius: $rem4;
      }
    }
  }

  &.BlockEmployee {
    border: $med-blue 1px solid;
    border-radius: $rem4;
    padding: $rem16;
  }
}