//Global reset
body, * {
  box-sizing: border-box;
  vertical-align: middle;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @include text();

  height: 100vh;
  width: 100vw;
  background-color: $dark-blue;
  overflow-x: hidden;
  overflow-y: auto;
}

p {
  @include text();

  &.bold, &>.bold {
    font-weight: $medium;
  }
}

h1, h2, h3 {
  font-family: $cormorant;
}

.title {
  @include title;
}

//hidden label with accessibility
label {
  @include text();

  z-index: -1;
  position:absolute;
  left:0;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

input {
  @include text;

  appearance: none;
  box-sizing: border-box;
  border: none;
  border-radius: $rem4;
  padding: $rem6;
  margin: $rem4;
  background: $dark-blue-50;

  &::placeholder {
    @include text;
  }

  &:focus {
    outline: none;
  }

  &[type='text'], &[type='tel'], &[type='email'] {
    width: 100%;
  }
}

select {
  @include text;

  appearance: none;
  box-sizing: border-box;
  border: none;
  border-radius: $rem4;
  padding: $rem6;
  margin: $rem4;
  background: $dark-blue-50;
}

textarea {
  @include text;

  resize: none;
  width: 100%;
  height: 100%;
  appearance: none;
  box-sizing: border-box;
  border: none;
  border-radius: $rem4;
  padding: $rem6;
  margin: $rem4;
  background: $dark-blue-50;

  &::placeholder {
    @include text;
  }
}

a {
  text-decoration:none;

  &::hover {
    cursor: pointer;
  }
}

button, .button {
  @include text;

  width: auto;
  margin: $rem8 auto;
  padding: $rem8;
  background: $dark-blue;
  border: 1px solid $med-blue-50;
  border-radius: $rem16;
  color: $cream;
  font-family: $fira-sans;
  font-weight: $semi-bold;
  font-size: $rem20;
  cursor: pointer;
}

ul, ol {
  list-style-type: none;

  &>li {
    list-style: none;
  }
}

nav.navContainer {
  width: 100%;
  padding: $rem8 $rem16 0;

  .navList {
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    align-items: flex-start;
    gap: $rem32;

    li.navItem {
      flex: 0 0 auto;

      a {
        @include navLink();
      }
    }
  }
}

