.page {
  max-width: 100vw;
  max-height: 100%;
  padding: $rem32;

  &.PageAdmin {
    form {
      margin: $rem8;

      &.formEmployeeSelect {
        display: flex;
        max-width: $rem350;
        background: $med-blue;
        border-radius: $rem4;

        .actionSubmit {
          margin: $rem8;
        }

        &>* {
          flex: 0 1 auto;
        }
      }
    }

    .messagesContainer {
      .listMessages {
        display: flex;
        flex-flow: row wrap;
        gap: $rem8;

        &>* {
          flex: 0 0 calc(50% - #{$rem8});
        }
      }

      .emptyMessages {
        padding-top: $rem12;
      }
    }
  }

  &.PageEmployees {
    .listEmployees {
      display: flex;
      flex-flow: row wrap;
      gap: $rem8;

      &>* {
        flex: 0 0 calc(50% - #{$rem8});
      }
    }
  }
}
