$rem1: 0.06rem;
$rem2: 0.13rem;
$rem3: 0.19rem;
$rem4: 0.25rem;
$rem5: 0.313rem;
$rem6: 0.375rem;
$rem7: 0.438rem;
$rem8: 0.5rem;
$rem9: 0.563rem;
$rem10: 0.6rem;
$rem11: 0.688rem;
$rem12: 0.75rem;
$rem13: 0.813rem;
$rem14: 0.875rem;
$rem15: 0.938rem;
$rem16: 16px;
$rem20: 1.25rem;
$rem24: 1.5rem;
$rem32: 2rem;
$rem64: 4rem;
$rem350: 21.875rem;

//Fonts
$fira-sans: 'Fira Sans', sans-serif;
$cormorant: 'Cormorant', serif; //doesn't support weight 100, 200

$thin: 100;
$xlight: 200;
$light: 300;
$medium: 500;
$semi-bold: 600;

//Colors
$dark-blue: rgba(29,28,116, 1);
$dark-blue-50: rgba(29,28,116, 0.5);
$cream: rgba(227,215,211, 1);
$light-blue: rgba(203,255,235, 1);
$med-blue-50: rgba(2,121,127, 0.5);
$med-blue: rgba(2,121,127, 1);
$red: rgba(176, 99, 82, 1);

//Mix-ins
@mixin title {
  font-family: $cormorant;
  font-size: $rem64;
  font-weight: 500;
  color: $light-blue;
}

@mixin text {
  color: $cream;
  font-family: $fira-sans;
  font-size: $rem16;
  font-weight: $light;
}

@mixin navLink {
  font-family: $cormorant;
  font-size: $rem32;
  font-weight: 300;
  color: $light-blue;
}
