@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,500;0,600;1,300;1,500;1,600&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,200;1,300;1,500;1,600&display=swap");
body, * {
  box-sizing: border-box;
  vertical-align: middle;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #e3d7d3;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  height: 100vh;
  width: 100vw;
  background-color: #1d1c74;
  overflow-x: hidden;
  overflow-y: auto;
}

p {
  color: #e3d7d3;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
p.bold, p > .bold {
  font-weight: 500;
}

h1, h2, h3 {
  font-family: "Cormorant", serif;
}

.title {
  font-family: "Cormorant", serif;
  font-size: 4rem;
  font-weight: 500;
  color: #cbffeb;
}

label {
  color: #e3d7d3;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  z-index: -1;
  position: absolute;
  left: 0;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

input {
  color: #e3d7d3;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  appearance: none;
  box-sizing: border-box;
  border: none;
  border-radius: 0.25rem;
  padding: 0.375rem;
  margin: 0.25rem;
  background: rgba(29, 28, 116, 0.5);
}
input::placeholder {
  color: #e3d7d3;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
input:focus {
  outline: none;
}
input[type=text], input[type=tel], input[type=email] {
  width: 100%;
}

select {
  color: #e3d7d3;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  appearance: none;
  box-sizing: border-box;
  border: none;
  border-radius: 0.25rem;
  padding: 0.375rem;
  margin: 0.25rem;
  background: rgba(29, 28, 116, 0.5);
}

textarea {
  color: #e3d7d3;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  resize: none;
  width: 100%;
  height: 100%;
  appearance: none;
  box-sizing: border-box;
  border: none;
  border-radius: 0.25rem;
  padding: 0.375rem;
  margin: 0.25rem;
  background: rgba(29, 28, 116, 0.5);
}
textarea::placeholder {
  color: #e3d7d3;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

a {
  text-decoration: none;
}
a::hover {
  cursor: pointer;
}

button, .button {
  color: #e3d7d3;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  width: auto;
  margin: 0.5rem auto;
  padding: 0.5rem;
  background: #1d1c74;
  border: 1px solid rgba(2, 121, 127, 0.5);
  border-radius: 16px;
  color: #e3d7d3;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  cursor: pointer;
}

ul, ol {
  list-style-type: none;
}
ul > li, ol > li {
  list-style: none;
}

nav.navContainer {
  width: 100%;
  padding: 0.5rem 16px 0;
}
nav.navContainer .navList {
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  align-items: flex-start;
  gap: 2rem;
}
nav.navContainer .navList li.navItem {
  flex: 0 0 auto;
}
nav.navContainer .navList li.navItem a {
  font-family: "Cormorant", serif;
  font-size: 2rem;
  font-weight: 300;
  color: #cbffeb;
}

.page {
  max-width: 100vw;
  max-height: 100%;
  padding: 2rem;
}
.page.PageAdmin form {
  margin: 0.5rem;
}
.page.PageAdmin form.formEmployeeSelect {
  display: flex;
  max-width: 21.875rem;
  background: #02797f;
  border-radius: 0.25rem;
}
.page.PageAdmin form.formEmployeeSelect .actionSubmit {
  margin: 0.5rem;
}
.page.PageAdmin form.formEmployeeSelect > * {
  flex: 0 1 auto;
}
.page.PageAdmin .messagesContainer .listMessages {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}
.page.PageAdmin .messagesContainer .listMessages > * {
  flex: 0 0 calc(50% - 0.5rem);
}
.page.PageAdmin .messagesContainer .emptyMessages {
  padding-top: 0.75rem;
}
.page.PageEmployees .listEmployees {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}
.page.PageEmployees .listEmployees > * {
  flex: 0 0 calc(50% - 0.5rem);
}

.block.BlockError {
  margin: 0 2rem;
  padding: 16px 0.313rem 16px 16px;
  background-color: #b06352;
  border-radius: 0.25rem;
}
.block.BlockContact {
  background: #02797f;
  border-radius: 0.25rem;
  padding: 16px;
  margin: auto;
  max-width: 530px;
}
.block.BlockContact form {
  max-width: 100%;
  text-align: center;
}
.block.BlockContact form .inputs {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}
.block.BlockContact form .inputs > * {
  flex: 1 1 auto;
}
.block.BlockMessage {
  border: #02797f 1px solid;
  border-radius: 0.25rem;
  padding: 16px;
}
.block.BlockMessage .formEditMessage p {
  margin: 0.25rem 0 0.25rem 0;
}
.block.BlockMessage .formEditMessage label.contentTitle {
  display: block;
  z-index: 5;
  position: static;
  width: fit-content;
  height: fit-content;
  overflow: visible;
  margin-top: 0.75rem;
}
.block.BlockMessage .formEditMessage .editContentInput {
  font-weight: 500;
  border: #02797f 1px solid;
  border-radius: 0.25rem;
}
.block.BlockEmployee {
  border: #02797f 1px solid;
  border-radius: 0.25rem;
  padding: 16px;
}

/*# sourceMappingURL=imports.css.map */
