<li class="block BlockMessage">
    <form action="../admin/" method="post" class="formEditMessage" id="formEditMessage{{ message.id }}">
        <input type="hidden" name="action" value="editMessage" />
        <input type="hidden" name="messageId" value={{ message.getId() }} />
        <input type="hidden" name="employeeSelect" value={{ message.getAssignedId() }}>

        <p class="name">From: <span class="bold">{{ message.getFullName() }}</span></p>
        <div class="contactMethods">
            <p class="email">Email: <span class="bold">{{ message.getEmail() }}</span></p>
            {% if message.getPhone() %}
                <p class="phone">Phone: <span class="bold">{{ message.getPhone() }}</span></p>
            {% endif %}
        </div>
        <label for="editContentInput{{ message.getId() }}" class="contentTitle">Edit Content:</label>
        <textarea name="editContent" id="editContentInput{{ message.getId() }}" rows="10" class="editContentInput" required>{{ message.getContent() }}
        </textarea>

        <button type="submit" class="actionSubmit">Save Changes</button>
        {#TODO: Change to AJAX call#}
        <a href="../admin/?action=deleteMessage&messageId={{ message.getId() }}&employeeSelect={{ message.getAssignedId() }}" class="button actionDelete">Delete Message</a>
    </form>
</li>