{% for error in errors %}
<div class="block BlockError">
    <h2>Error Type: {{ error.getType() }}</h2>
    <p>Found at: {{ error.getFile() }} on line {{ error.getLine() }}</p>
    <br>
    <p>{{ error.getMessage() }}</p>
</div>
{% endfor %}
