<li class="block BlockEmployee">
    <p>Name: <span class="bold">{{ employee.getFullName() }}</span></p>
    <p>Id: <span class="bold">{{ employee.getId() }}</span></p>
    <p>Email: <span class="bold">{{ employee.getEmail() }}</span></p>
</li>