<div class="block BlockContact">
    <h3 class="title">Get In Touch</h3>

    <form action="." method="post" id="formContact" >
        <input type="hidden" name="action" value="submitNewContact">
        <div class="inputs">
            <span class="nameFirst">
              <label id="nameFirstLabel" for="nameFirstInput">First Name</label>
              <input type="text" id="nameFirstInput" name="nameFirstInput" placeholder="First Name" autoComplete="given-name" required/>
            </span>
            <span class="nameLast">
              <label id="nameLastLabel" for="nameLastInput">Last Name</label>
              <input type="text" id="nameLastInput" name="nameLastInput" placeholder="Last Name" autoComplete="family-name" required/>
            </span>
        </div>
        <div class="inputs">
            <span class="email">
              <label id="emailLabel" for="emailInput">Email</label>
              <input type="email" id="emailInput" name="emailInput" placeholder="Email" autoComplete="email" required/>
            </span>
            <span class="telephone">
              <label id="telephoneLabel" for="telephoneInput">Phone</label>
              <input type="tel" id="telephoneInput" name="telephoneInput" placeholder="Telephone" autoComplete="tel-national" />
            </span>
        </div>
        <div class="inputs">
            <textarea name="message" id="messageInput" placeholder="Message" cols="30" rows="10" required></textarea>
        </div>

        <button type="submit" class='actionSubmit'>Submit</button>
    </form>
</div>