<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    {#  Import stylesheets  #}
    {% block styleLink %}
    <link rel="stylesheet" href="../style/imports.css">
    {% endblock %}

    <title>Contact Form</title>
  </head>
  <body>
    <nav class="navContainer">
      <ul class="navList">
        {% block navitems %}{% endblock %}
      </ul>
    </nav>
    {% if errors %}
      {{ include('BlockError.twig') }}
    {% endif %}
    {% block content %}{% endblock %}
  </body>
</html>
