{% extends 'index.twig' %}

{% block navitems %}
    <li class="navItem"><a href="../">Contact Us</a></li>
    <li class="navItem"><a href="../admin">Admin</a></li>
{% endblock %}

{% block content %}
    <div class="page PageEmployees">
        <h3 class="title">View Employees</h3>

        <ul class="listEmployees">
            {% for employee in employees %}
                {{ include('BlockEmployee.twig') }}
            {% endfor %}
        </ul>
    </div>
{% endblock %}