{% extends "index.twig" %}

{% block styleLink %}
    <link rel="stylesheet" href="./style/imports.css">
{% endblock %}

{% block navitems %}
    <li class="navItem"><a href="./admin">Admin</a></li>
    <li class="navItem"><a href="./admin?action=list-employees">List Employees</a></li>
{% endblock %}

{% block content %}
<div class="page PageContact">
    {{ include('BlockContact.twig') }}
</div>
{% endblock %}