{% extends "index.twig" %}

{% block navitems %}
    <li class="navItem"><a href="../">Contact Us</a></li>
    <li class="navItem"><a href="../admin?action=list-employees">List Employees</a></li>
{% endblock %}

{% block content %}
<div class="page PageAdmin">
    <h3 class="title">Manage Messages</h3>

    <form action="../admin/" method="post" class="formEmployeeSelect">
        <input type="hidden" name="action" value="selectEmployee" >
        <label for="employeeSelect">Select Employee</label>
        <select name="employeeSelect" id="employeeSelectInput" required>
            <option value="">Select Employee</option>

            {% for employee in employees %}
                {% if selectedId and (employee.getId() == selectedId)  %}
                    <option value={{ employee.getId() }} selected>{{ employee.getFullName() }}</option>
                {% else %}
                    <option value={{ employee.getId() }}>{{ employee.getFullName() }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <button type="submit" class='actionSubmit'>Show Messages</button>
    </form>

    <div class="messagesContainer">
        {% if messages %}
            <ul class="listMessages">
                {% for message in messages %}
                    {{ include('BlockMessage.twig') }}
                {% endfor %}
            </ul>
        {% elseif selectedId %}
            <p class="emptyMessages bold">No messages have been assigned to this employee.</p>
        {% endif %}
    </div>
</div>
{% endblock %}